.map-container {
  height: 100vh;
}
.marker-group {
  position: absolute;
}
.custom-marker {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.custom-marker-hover {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff0000;
  border: 2px solid #ffffff;
}
